.mainSurvey {
    padding-top: 3rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem
}

.mainSurvey h1 {
    margin-bottom: 2.8rem;
}

.mainSurvey form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

.mainSurvey label {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    gap: 0.2rem;
}

.mainSurvey input {
    border-radius: 4px;
    height: 1.8rem;
    text-align: center;
    font-size: 1.2rem;
}

#username{
    text-transform: lowercase;
}

.mainSurvey p {
    margin-top: -0.8rem;
}
.errorMessage {
    color:rgb(255, 50, 74);
}
.successMessage {
    color:lightgreen;
}