.mainDivTopic {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    text-align: center;
    gap: 4vh;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: left;
}

form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 2vh;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    gap: 0.2vh;
}

input, textarea {
    border-radius: 20px;
    padding: 1vh 2vw;
    text-align: center;
    font-size: 1.8vw;
    align-self: center;
}

input {
    width: 40%;
}

#optimize {
    width: 90%;
}

textarea {
    width: 80%;
}

.formButtons {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.lawCreationLog {
    display: flex;
    flex-direction: column;
    height: 70%;
    overflow-y: scroll;
    gap: 2vh;
    padding-right: 1vw;
}

.logPart {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.msg {
    display: flex;
    flex-direction: column;
    width: 96%;
    border: solid white 1px;
    border-radius: 20px;
    padding: 1vh 2vw;
    gap: 0.5vh;
}

#citizen {
    align-self: flex-start;
    text-align: left;
}

#ai {
    align-self: flex-end;
    text-align: right;
}