.signUpMainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.signUpMainDiv h1 {
    padding: 0;
    margin: 0;
}

.signUpMainDiv h2 {
    margin: 0;
    padding: 0;
}

.signUpMainDiv h3 {
    text-align: right;
    font-size: 1em;
    margin-right: auto;
}

.signUpMainDiv form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.formSection {
    border: solid white;
    border-radius: 20px;
    padding: 2vh 4vw 2vh 4vw;
    scroll-snap-align: center;
    width: 100%;
}

.formDetailsDiv {
    width: 100%;
}

.formSectionDetail {
    width: 100%;
    border: solid white 2px;
    border-radius: 20px;
    padding: 1vh 1vw 1vh 2vw;
}

.formDetailListOpen {
    border-bottom: solid white 1px;
}

.formDetailList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    gap: 1vw;
}

.signUpMainDiv form .column {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.signUpMainDiv form .row {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.signUpMainDiv label {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    gap: 0.1vh;
    font-size: 1vw;
}

.signUpMainDiv select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-align: center;
    font-size: 1.4vw;
}

.signUpMainDiv input {
    border-radius: 4px;
    padding: 0.4vh 1vw;
    text-align: center;
    font-size: 1.4vw;
}

.name {
}

#houseNumber, #stair, #stock, #door {
    width: 10vw;
}

#postalCode {
    width: 12vw;
}

.saveUpdateCitizenDetails {
    margin: 1vh 0;
}

.submitDivButtons {
    margin-bottom: var(--citizenNav-height);
}

.submitDivButtons button {
}

.correctInput {
    color: aquamarine;
    font-weight: bold;
}

.incorrectInput {
    color: palevioletred;
    font-weight: bold;
}