.mainDivHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mainDivHome header {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--citizenNav-height));
    text-align: center;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}

.mainDivHome header div {
    margin-bottom: 12vh;
}

.mainDivHome h1 {
    font-size: 8.5vw;
    margin: 0 0 1vh;
}

.mainDivHome section h2 {
    font-size: 6vw;
    margin: 0;
}

.mainDivHome section h3 {
    font-size: 4.4vw;
    margin: 0;
}

.mainDivHome header div p {
    font-size: 4vw;
    margin: 0;
}

.mainDivHome .intro {
    display: flex;
    flex-direction: column;
}

.mainDivHome .info {
    display: flex;
    flex-direction: row;
}

.mainDivHome section {
    height: calc(100vh - var(--citizenNav-height));
    justify-content: center;
    align-items: center;
    gap: 5vw;
    scroll-snap-align: center;
}

.mainDivHome section div {
    display: flex;
    flex-flow: wrap column;
    gap: 1vh;
}

.mainDivHome section p {
    font-size: 2.2vw;
    margin: 0;
}

.mainDivHome svg {
    fill: white;
    height: 12vw;
    width: 12vw;
    margin-top: 3rem;
}